<div class="text-left">
  <button class="btn btn-dark" (click)="navigateToGame()">
    <i class="fas fa-chevron-left"></i> Back
  </button>
</div>
<div class="m-5">
  <div *ngIf="socialAuthService.authState | async as user; else signedOut">
    <div *ngIf="authService.refreshToken != null">

      <table class="w-100 table table-hover table-dark table-striped table-bordered table-responsive-sm table-responsive-md"
             *ngIf="leaderboard$ | async; else loadingOrError">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col" *ngIf="user.id == '107310153593492185432'">Email</th>
          <th scope="col">Total Played</th>
          <th scope="col">Hard Mode</th>
          <th scope="col">Easy Mode</th>
          <th scope="col">2 Players</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of leaderboard$ | async; index as rank">
          <th scope="row"><i class="fas fa-crown" style="color: gold;" *ngIf="rank+1 == 1"></i> {{rank + 1}}</th>
          <td class="text-left">
            <img src="{{row.user['social_info']['picture']}}" alt="img" class="avatar rounded-circle"> {{row.user['social_info']['given_name']}}
          </td>
          <td *ngIf="user.id == '107310153593492185432'">{{row.user['social_info']['email']}}</td>
          <td>{{row['total_played']}}</td>
          <td>{{row['hard_mode']}}</td>
          <td>{{row['easy_mode']}}</td>
          <td>{{row['two_players_mode']}}</td>
        </tr>
        </tbody>
      </table>

      <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else showLoading">
          <div class="col-12 text-center">
            <div class="alert badge-dark text-danger font-weight-bold">
              Could not load the leaderboard. Are you connected to the internet?
            </div>
            <button class="btn btn-dark" (click)="loadLeaderboard()">
              <i class="fas fa-sync-alt"></i> Retry
            </button>
          </div>
        </ng-container>
        <ng-template #showLoading>
          <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template>
      </ng-template>

    </div>
  </div>

  <ng-template #signedOut>
    <div class="bg-dark text-white p-3">
      <h4>Please Sign-in to view the leaderboard</h4>
    </div>
  </ng-template>
</div>
