<footer class="footer text-center">
    <!-- Email -->
    <a class="btn btn-light btn-floating m-1" href="mailto:samin005.bracu@gmail.com" role="button">
      <i class="far fa-envelope"></i>
    </a>

    <!-- Github -->
    <a class="btn btn-light btn-floating m-1" href="https://www.github.com/Samin005" target="_blank" role="button">
      <i class="fab fa-github"></i>
    </a>

    <!-- Linkedin -->
    <a class="btn btn-light btn-floating m-1" href="https://www.linkedin.com/in/samin-azhan-6b6a70153/" target="_blank" role="button">
      <i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Facebook -->
    <a class="btn btn-light btn-floating m-1" href="https://www.facebook.com/saminz.fariel" target="_blank" role="button">
      <i class="fab fa-facebook-f"></i>
    </a>
</footer>
